{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Register{% endtrans %}
{% endblock %}

{% block body %}
	<div class="content">

		<div class="wrapper">
			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="row justify-content-center">
						<div class="col-md-6">
							<h3 class="heading mb-4 mt-5">{% trans %}
								It's time to check in !{% endtrans %}</h3>
							<p>{% trans %}Please use the sign in form.{% endtrans %}</p>

							<p><img src="{{ asset('assets/img/register.jpg')}}" alt="SignIn" class="img-fluid"></p>

							<div class="col mt-4">
							<p>Remember that if you decide to sign in you accept privacy policy.</p>
							</div>
							<div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
						</div>
						<div class="col-md-6 mt-5">
							{% for flashError in app.flashes('verify_email_error') %}
								<div class="alert alert-danger" role="alert">{{ flashError }}</div>
							{% endfor %}

							<h1>{% trans %}Register{% endtrans %}</h1>

							{{ form_start(registrationForm) }}
							<fieldset>
								<caption>
									<p class="h3 text-center">{% trans %}Credentials{% endtrans %}</p>
								</caption>

								{{ form_row(registrationForm.email) }}
								{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
							</fieldset>
							<fieldset>
								<caption>
									<p class="h3 text-center">{% trans %}Identity{% endtrans %}</p>
								</caption>
								<div class="row">
								<div class="col-6">{{ form_row(registrationForm.firstname) }}</div>
								<div class="col-6">{{ form_row(registrationForm.lastname) }}</div>
								</div>
								<div class="row">
								<div class="col-12">{{ form_row(registrationForm.address) }}</div>
							
								</div>
								<div class="row">
								<div class="col-6">{{ form_row(registrationForm.city) }}</div>
								<div class="col-6">{{ form_row(registrationForm.zipcode) }}</div>
								</div>
								<div class="row">
								<div class="col-6">{{ form_row(registrationForm.phone) }}</div>
								</div>
	
							</fieldset>

							{{ form_row(registrationForm.agreeTerms) }}

							<button type="submit" class="btn btn-info mt-3">{% trans %}Register{% endtrans %}</button>
							{{ form_end(registrationForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
